<html #home>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <base href="/">
    </head>
  
    <body style="color:	#000000">
        <nav  style="position:sticky; background: rgba(0,0,0,0.5);" id="navbar" class="navbar fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="navbar-header label-primary">Atlantiq</h1>
            </div>
            <ul class="nav  justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" (click)="scrollToElement(home)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement(service)">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement(UpEvents)">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement(about)">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact us</a>
                </li>
            </ul>
         </div>
        </nav>
            <div style="pading-top:opx;" class="row">
                <div class="col-md-12">
                    <ngb-carousel #carousel interval="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                        <ng-template ngbSlide *ngFor="let img of images; index as i;">
                            <div class="carousel-caption">
                            <h3> {{serviceNames[i]}}</h3>
                            </div>
                            <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                            <div class="picsum-img-wrapper">
                                <img [src]="img" style="width: 3000px; height: 600px" alt="My image {{i + 1}} description">
                            </div>
                            </a>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        <hr #service>

        <h3 style="font-family:Segoa Print;text-align: center;" >Services</h3>
        <hr>
        <br>
        <div style="padding-left:50px; padding-right:50px;" class="row">
            <div  *ngFor="let serv of services; index as j" class="col-md-3">
                <div class="card">
                    <img [src]="images[j]" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{serv.name}}</h5>
                        <p class="card-text">{{serv.description.substring(0,128)}}...</p>
                        <a class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <br/>
            </div>
        </div>

        <hr #UpEvents>
        <h3 style="font-family:Segoa Print; padding-left:50px; text-align: center;" >Upcoming Events</h3>
        <hr>
        <br>
        <div style="padding-left:50px; padding-right:50px;" class="row">
            <div  *ngFor="let event of events" class="col-md-4">
                <div class="card">
                    <img src="{{event.imgPath}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{event.title}}</h5>
                        <p class="card-text">{{event.date.toString().split('T')[0]}} @ {{event.stratTime.toString().split('T')[1].substring(0,5)}} to {{event.endTime.toString().split('T')[1].substring(0,5)}}</p>
                        <a *ngIf="event?.indawoId % 2 !== 0"  class="btn btn-primary">Buy ticket</a>
                        <a *ngIf="event?.indawoId % 2 === 0" (click)="goToRsvp(event.id)" class="btn btn-primary">RSVP</a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div #about class="container body-content">
        <hr>
            <footer >
                <p>Atlantiq Premium Events (Pty) Ltd is a subsidiary of the Atlantiq Group with offices located in Johannesburg, South Africa and a reach that spans across the globe.</p>
                <p>
                    <a href="#" target="_blank" >Atlantiq Foundation</a> | <a href="#" target="_blank" >Atlantiq Finacial Services</a> | <a href="#" target="_blank" >Atlantiq Projects</a> | <a href="#" target="_blank" >Atlantiq Functions</a> | <a href="#" target="_blank" >Atlantiq Media</a> | <a href="#" target="_blank" >Atlantiq Clothing</a>
                </p>
            </footer>
        </div>
    </body>
    
</html>
